.git
.gitignore
.vscode
.idea
*.pyc
*.pyo
*.pyd
**/__pycache__/
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.env
.env.*
results.json
agents/
digital-twin/
deploy/
docs/
frontend/
public/
simulation/
spot-price-forecast/notebooks/
spot-price-forecast/images/
spot-price-forecast/script/
spot-price-forecast/data/raw/
